@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
/* font-family: 'Barlow', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,900;1,9..144,700&display=swap');
/* font-family: 'Fraunces', serif; */




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, header{
    max-width: 1440px;
    margin: 0 auto;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    position: absolute;

}
header .nav-desktop a{
    text-decoration: none;
    margin-right: 30px;
    color: white;
}
header .nav-desktop button{
    padding: 15px 25px;
    border-radius: 25px;
    background-color: white;
    outline: none;
    border: none;
    color: black;
    cursor: pointer;
}
header .nav-desktop button:hover{
    color: white;
    background-color: transparent;
}

.icon-wrap{
    /* border: 1px solid black; */
    position: absolute;
    top: 180px;
    left: 32%;
    color: white;
    font-size: 50px;
    font-family: 'Fraunces', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.icon-wrap h1{
   font-size: 40px;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}
.text-grid-1, .text-grid-2{
    padding: 50px;
    display: flex;
    align-items: center; 
}
.grid article h2{
    font-family: 'Fraunces', serif;
}
.grid img{
    width: 100%;
    height: 100%;
}
article h2{
    margin-bottom: 30px;
    color: hsl(212, 27%, 19%);
    font-size: 35px;
}
article p{
    margin-bottom: 30px;
    font-family: 'Barlow', sans-serif;
    color: hsl(210, 4%, 67%);
    line-height: 25px;
}
article a{
    text-decoration: none;
    color: hsl(212, 27%, 19%);
    font-family: Fraunces, serif;
}
.grid{
   position: relative;
}
.berry .inner-div{
    position: absolute;
    top: 70%;
    left: 30%;
    width: 350px;
    text-align: center;
    color: hsl(167, 40%, 24%);
}
.berry .inner-div h2{
    margin-bottom: 30px;
    font-family: Fraunces, serif;
}
.berry .inner-div p{
    line-height: 25px;
    font-family: Barlow, serif;
}
.photography .inner-div{
    position: absolute;
    top: 70%;
    left: 30%;
    width: 350px;
    text-align: center;
    color: hsl(198, 62%, 26%);
}
.photography .inner-div h2{
    margin-bottom: 30px;
    font-family: Fraunces, serif;
}
.photography .inner-div p{
    line-height: 25px;
    font-family: Barlow, serif;
}
aside{
    margin: 120px 0;
}
aside h4{
    color: hsl(210, 4%, 67%);
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 60px;

}
.flex-div{
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    
}
.flex-box{
    text-align: center;
    padding: 0 20px;
    /* border: 1px solid black; */
    width: 400px;
}
.flex-box img{
    width: 60px;
    border-radius: 50%;
    margin-bottom: 40px;
}
.flex-box p{
    margin-bottom: 40px;
    color: hsl(213, 9%, 39%);
    padding: 0 20px;
    line-height: 25px;
}
.flex-box h5{
    font-size: 16px;
    margin-bottom: 5px;
}
.flex-box span{
    color: hsl(210, 4%, 67%);
    font-size: 13px;
}
.gallery-pics{
    display: flex;
}
.gallery-pics img{
    width: 100%;
    height: 100%;
}
footer{
    background-color: hsl(168, 34%, 41%);
    display: flex;
    justify-content: center;
    text-align: center;
}
.footer-div{
    margin: 50px 0;
}
.footer-nav a{
    text-decoration: none;
    color: hsl(167, 40%, 24%);
    margin-left: 30px;
}
.footer-nav a:hover{
    color: white;
}
.socials-div ion-icon{
    color: hsl(167, 40%, 24%);
    width: 20px;
    height: 20px;
    margin-left: 20px;
    cursor: pointer;
}
.socials-div ion-icon:hover{
    color: white;
}
.footer-div img{
    color: hsl(167, 40%, 24%);
}
.footer-div .footer-logo p{
    color: hsl(167, 40%, 24%);
    font-size: 30px;
    font-family: Barlow, serif;
}
.footer-div .footer-logo{
    margin-bottom: 30px;
}
.footer-div .footer-nav{
    margin-bottom: 50px;
}
.icon-wrap img{
    animation: jumping-arrow 2s ease-in infinite;
}
@keyframes jumping-arrow{
    0%, 50%, 100% {
        transform: translateY(0);
    }
    12.5%, 37.5%{
        transform: translateY(20px);
    }
    25%{
        transform: translateY(10px);
    }
}

.attribution {
  font-size: 13px;
  text-align: center;
  margin: 10px 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.mobile-header{
    display: none;
}
.text-grid-1 article .learn-link{
    position: relative;
    /* border: 1px solid black; */
    display: inline-block;
}
.text-grid-2 article .learn-link{
    position: relative;
    /* border: 1px solid black; */
    display: inline-block;
}
.text-grid-1 .learn-link::after{
    content: "";
    height: 10px;
    width: 100%;
    background-color: hsl(51, 100%, 49%);
    top: 60%;
    left: 0;
    position: absolute;
    border-radius: 10px;
    z-index: -1;
    opacity: 0.3;
    transition: all 0.3s ease-in-out;
}
.text-grid-2 .learn-link::after{
    content: "";
    height: 10px;
    width: 100%;
    background-color: hsl(7, 99%, 70%);
    top: 60%;
    left: 0;
    position: absolute;
    border-radius: 10px;
    z-index: -1;
    opacity: 0.3;
    transition: all 0.3s ease-in-out;
}
.learn-link:hover::after{
    opacity: 1;
}
@media only screen and (max-width: 650px){
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.6fr 0.65fr 0.6fr 0.65fr 1fr 1fr;
        grid-template-areas: 
        "egg"
        "text-grid-1"
        "glass"
        "text-grid-2"
        "berry"
        "photography";
    }
    .egg{
        grid-area: egg;
    }
    .text-grid-1{
        grid-area: text-grid-1;
        /* padding: 40px 10px; */
    }
    .glass{
        grid-area: glass;
    }
    .text-grid-2{
        grid-area: text-grid-2;
        /* padding: 40px 10px; */
    }
    .berry{
        grid-area: berry;
    }
    .orange{
        grid-area: photography;
    }
    .flex-div{
        flex-direction: column;
    }
    .gallery-pics{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .grid{
        text-align: center;
    }
    .berry .inner-div{
        left: 0;
    }
    .photography .inner-div{
        left: 0;
    }
    .desktop-header{
        display: none;
    }
    br{
        display: none;
    }
    .mobile-header{
        display: flex;
    }
    .flex-div{
        gap: 50px;
    }
    .flex-box p{
        margin-bottom: 20px;
    }
    .mobile-nav{
        position: absolute;
        width: 300px;
        height: 300px;
        background-color: white;
        top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        font-family: Barlow, serif;
    }
    
    .mobile-nav::after{
        content: "";
        top: -30px;
        right: 0;
        width: 0px;
        height: 0px;
        position: absolute;
        border-right: 30px solid white;
        border-top: 30px solid transparent;
        border-bottom: 30px solid transpraent;

    }
    nav a{
        text-decoration: none;
        color:  hsl(213, 9%, 39%);
        cursor: pointer;
        font-size: 18px;
    }
    .mobile-nav button{
        color: hsl(212, 27%, 19%);
        background-color: hsl(51, 100%, 49%);
        padding: 15px 20px;
        border: none;
        border-radius: 30px;
        font-family: Fraunces, serif;
        font-size: 16px;
        cursor: pointer;
    }
    .hamburger-icon img{
        cursor: pointer;
    }
    .opacity-none{
        opacity: 0;
    }
    .icon-wrap{
        text-align: center;
        left: 25px;
        top: 130px;
    }
    
}